<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.insidegroup.insidecomerce">
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".InsideService" />

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActListaTicket"
            android:label="@string/title_activity_act_lista_ticket"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActAceitarTicket"
            android:label="@string/title_activity_act_edita_item_ticket"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ActTicketEmAndamento"
            android:label="@string/title_activity_act_ticket_em_andamento"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".ActAgenda"
            android:label="Act Agenda"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>


                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <receiver
            android:name=".BroadCastReceive"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="edu.cs4730.broadcastboot.myAction" />
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>
        </receiver>

    </application>

</manifest>